/* Add your own CSS rules here */
/* TYPOGRAPHY */
/* from https://github.com/oxalorg/sakura */

html {
  font-size: 62.5%;
  font-family: serif;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  margin: auto;
  color: #111111;
  background-color: #F1EA7F;
  padding: 1px;
}

p {
  text-align: left
}
h1 {
  text-align: left;
  font-size: 2.35em;
}
h2 {
  text-align: left
  font-size: 2em;
}
h3 {
  text-align: left
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: center;
}
